

.format-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
}

.input-form{
  width: 600px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #343A40;
  background: #FFF;
  margin-bottom: 2%;
  margin-top: 1%;
  padding: 1%;
}

.text-area-form{
  width: 600px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #343A40;
  background: #FFF;
  margin-bottom: 2%;
  margin-top: 1%;
  padding: 1%;
}

.button-form{
  width: 80px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background: #ED8B42;
  color: #FFF;
  margin-bottom: 3%;
  align-self: flex-start;
  margin-left: 26%;
}

.banner{
  position: relative;
  background-image: url('../../assets/banner.svg');
  height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-cards-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
  padding: 24px 0px;
  transition: all 0.5s ease-in-out;
}

.search-bar {
  text-align: center;
}

.search-bar input[type="text"] {
  padding: 15px;
  width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-bar button[type="submit"] {
  padding: 15px 15px;
  background-color: #ED8B42;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}