.container-fluid{
  min-height: 100vh;
  display: flex;

}
.product{
  background-color: beige;
  min-width: 200px;
  min-height: 350px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product figure{
  height: 100%;
}
.product-info{
  padding: 4px;
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  flex-shrink: 0;
}


.icones{
  display: flex;
  flex-direction: row;
}