*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


.App-header {
  display: flex;
  flex-direction: row;
  background-color: #00604C;
  color: #fff;
  padding: 10px;  
}

/* Estilos para a lista de itens da barra de navegação */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 70px;
}

/* Estilos para os itens da lista */
nav ul li {
  display: inline;
}

/* Estilos para os links dos itens da lista */
nav ul li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

/* Estilos para os links dos itens da lista quando estão sendo visitados */
nav ul li a:visited {
  color: #fff;
}

/* Estilos para os links dos itens da lista quando estão em foco */
nav ul li a:focus {
  color: #ED8B42;
}

/* Estilos para os links dos itens da lista quando o mouse passa por cima */
nav ul li a:hover {
  color: #ED8B42;
}


.App-link {
  color: #61dafb;
}


.rectangle{
  width: 350px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 15%;
  background-color: #ED8B42;
  text-align: center;
  padding-top: 5%;
}

.footer-style{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem
}

.format-footer{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 5%;
  margin-right: 5%;
}

.format-sobre-nos{
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 12% ;
  padding-bottom: 12%;
}

.aline-horizion{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.termos {
  margin-right: 20px;
}

.politica{
  margin-right: 650px;
}

.hr-footer{
  border: none;
  height: 1px;
  background-color: #fff;
  margin-top: 10%;
}

.container{
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 576px) {
  .container{
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container{
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container{
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container{
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container{
    width: 1140px;
  }
}




